@keyframes rocket {
    0% {
        transform: translateX(-200px) translateY(200px);
    }
    100% {}
}

@-webkit-keyframes rocket {
    0% {
        transform: translateX(-200px) translateY(200px);
    }
    100% {}
}

@keyframes thanks {
    0% {
        transform: translateY(100px);
        opacity: 0
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes thanks {
    0% {
        transform: translateY(100px);
        opacity: 0
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }
}

@-webkit-keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }
}
